  .marks circle {
    fill: #137B80;
  }
  .marks path {
    stroke: #137B80;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .axisLabel{
    font-size: 3em;
    fill: #635F5D;
  }
  .chart{
    width: 100%;
    margin-top: 40px;
 }
 .tooltip{
  stroke: #635F5D;
  stroke-width: 20px;
  z-index: 2000;
  opacity:1;
}
 .active {
   opacity: 0;
   stroke-width: 1px;
 }
