@media (min-width: 480px){
    .header{
        padding: 0 30px 0 30px;
    }
    .username{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btnLogin{
        padding: 7px;
    }
    .btnLogin:first-child{
        margin-right: 12px;
    }
}
@media (max-width: 479px){
    .header{
        padding: 0 10px 0 10px;
    }
    .username{
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    .btnLogin{
        padding: 3px;
    }
    .btnLogin:first-child{
        margin-right: 7px;
    }
}
.header{
    grid-area: h;
    position: fixed; 
    background-color: #fff;   
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    height: 60px;
    z-index: 3;
}
.username{
    line-height: 1.5;
}
.btnLogin{
    width: 65px;
    color: #b3294e;
    border: 1px solid #b3294e;
    background-color: #fff;
    padding: 6px;
    font-weight: 500;
    border-radius: 8px;
}
.btnLogin:hover{
    transition-duration: 0.4s;
    background-color: #b3294e;
    color: #fff;
}
.title{
    display: flex;
}
.title .text{
    font-size: 20px;
    letter-spacing: 1px;  
    color:#b3294e;
    font-weight: 700;
}
.title .logo{
    color:#b3294e;
    padding: 2px 8px 0 0;
}

.content{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.content .profileLogo{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    color: #b3294e;
}
